<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="webServiceCheckOk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Oracle_ATNREP" connectionString="Data Source=ATNREP;Persist Security Info=True;User ID=CHECKOK;Password=v1s1g0d0;POOLING=FALSE" providerName="Oracle.DataAccess" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.112.1.0" newVersion="2.112.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <webServiceCheckOk.Properties.Settings>
      <setting name="webServiceCheckOk_WsCredify_server_consulta" serializeAs="String">
        <value>http://webservice.credify.com.br/wscredify.php</value>
      </setting>
      <setting name="webServiceCheckOk_WsCheckAuto_WebService1" serializeAs="String">
        <value>http://www.checkauto.com.br/ws20v2/WebService1.asmx</value>
      </setting>
      <setting name="webServiceCheckOk_WsAbsolutaSolucoes_clsLeilao"
        serializeAs="String">
        <value>http://webservices.absolutasolucoes.com.br/absoluta/clsLeilao.asmx</value>
      </setting>
      <setting name="webServiceCheckOk_WsAutoRisco_Bdvl" serializeAs="String">
        <value>http://wsar.autorisco.com.br/bdvl/services/Bdvl/bdvl.asmx</value>
      </setting>
      <setting name="webServiceCheckOk_WsCarsys_ws" serializeAs="String">
        <value>http://www.carsys.com.br/consulta/ws.asmx</value>
      </setting>
      <setting name="webServiceCheckOk_WsSeape_VeicularNew" serializeAs="String">
        <value>http://webservice.credhost.com.br/VeicularNew.asmx</value>
      </setting>
      <setting name="webServiceCheckOk_WsTdi_Consulta" serializeAs="String">
        <value>http://177.139.253.143:8080/ConsultasWS/services/Consulta.ConsultaHttpSoap11Endpoint/</value>
      </setting>
      <setting name="webServiceCheckOk_WsSinaliza_ConsultasVeiculos"
        serializeAs="String">
        <value>http://206.222.9.194/WServConsultasVeiculos/WServCons.asmx</value>
      </setting>
      <setting name="webServiceCheckOk_WsCheckPro_Service" serializeAs="String">
        <value>http://ws.checkpro.com.br/service.asmx</value>
      </setting>
    </webServiceCheckOk.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <!-- IP INTERNO -->
    <add key="HABILITA_IP_INTERNO" value="N" />
    <add key="LISTA_IP_INTERNO" value="200.211.177;189.16.109;187.108.34;186.215.68;189.22.132;192.168.10;192.168.0;10.1.0;10.2.0;10.3.0;10.6.0" />
    <add key="aspnet:MaxHttpCollectionKeys" value="2000" />
    <!-- EMAIL PARA CORRESPONDENCIA DE LOGS -->
    <add key="emailRemetente" value="webservice@emepar.com.br"/>
  </appSettings>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IeDecodificacao">
          <security mode="TransportWithMessageCredential" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://plataforma.tecnobank.com.br/services/eDecodificacao.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IeDecodificacao"
        contract="WsTecnobank.IeDecodificacao" name="BasicHttpBinding_IeDecodificacao" />
    </client>
  </system.serviceModel>
</configuration>